.card-container{ 
    width: 95%;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 25px;
    padding: 4%;
    background-color: #ff9b9b;
    fill-opacity: 0.5;
    text-align: center;
    margin-top: 100px;
    text-align: left;
    border:solid #b70404 4px;
  
}


.image-container img{
  overflow: hidden;
  height: 250px;
  width: 300px;
  border-radius: 10%;
  float: right;
  
}
body{
    background-image: url(https://i.pinimg.com/originals/76/e8/58/76e85817b338a5d8c54b0b15e78a2bf8.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px;
}

h1{
    font-size:50px;
}